<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>&copy; 2018 <a href="https://github.com/go2ismail/DotnetDesk">Ismail Hamzah</a>.</strong> All rights
    reserved.
</footer>