<a href="@Url.Action(src.MVC.Pages.ConfigIndex.Action, src.MVC.Pages.ConfigIndex.Controller)" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>D</b>D</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Dotnet</b>Desk</span>
</a>