@using Microsoft.AspNetCore.Identity
@using src.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);

    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/adminlte/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">@appUser.FullName</span>
        </a>
        <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
                <img src="~/adminlte/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>
                    @appUser.FullName
                    <small>Aktive member.</small>
                </p>
            </li>
            
            <!-- Menu Footer-->
            <li class="user-footer">
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    <div class="pull-left">
                        <a asp-controller="Manage" asp-action="Index" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-default btn-flat">Log out</button>
                    </div>
                </form>
                
            </li>

        </ul>
    </li>


}

