@model src.Models.Ticket
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add / Edit Data</h4>
</div>
<form onsubmit="return SubmitAddEdit(this)">
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ticketId" />
        <input type="hidden" asp-for="organizationId" />
        <input type="hidden" asp-for="customerId" />
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="ticketName" class="control-label"></label>
                    <input asp-for="ticketName" class="form-control" />
                    <span asp-validation-for="ticketName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="productId" class="control-label"></label>
                    <select asp-for="productId" class="form-control" asp-items="@ViewBag.productId"></select>
                    <span asp-validation-for="productId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="description" class="control-label"></label>
            <input asp-for="description" class="form-control" />
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="phone" class="control-label"></label>
                    <input asp-for="phone" class="form-control" />
                    <span asp-validation-for="phone" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="contactId" class="control-label"></label>
                    <select asp-for="contactId" class="form-control" asp-items="@ViewBag.contactId"></select>
                    <span asp-validation-for="contactId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="ticketStatus" class="control-label"></label>
                    <select asp-for="ticketStatus" class="form-control" asp-items="Html.GetEnumSelectList<src.Enum.TicketStatus>()"></select>
                    <span asp-validation-for="ticketStatus" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="supportAgentId" class="control-label"></label>
                    <select asp-for="supportAgentId" class="form-control" asp-items="@ViewBag.supportAgentId"></select>
                    <span asp-validation-for="supportAgentId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="supportEngineerId" class="control-label"></label>
                    <select asp-for="supportEngineerId" class="form-control" asp-items="@ViewBag.supportEngineerId"></select>
                    <span asp-validation-for="supportEngineerId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="ticketType" class="control-label"></label>
                    <select asp-for="ticketType" class="form-control" asp-items="Html.GetEnumSelectList<src.Enum.TicketType>()"></select>
                    <span asp-validation-for="ticketType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="ticketPriority" class="control-label"></label>
                    <select asp-for="ticketPriority" class="form-control" asp-items="Html.GetEnumSelectList<src.Enum.TicketPriority>()"></select>
                    <span asp-validation-for="ticketPriority" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="ticketChannel" class="control-label"></label>
                    <select asp-for="ticketChannel" class="form-control" asp-items="Html.GetEnumSelectList<src.Enum.TicketChannel>()"></select>
                    <span asp-validation-for="ticketChannel" class="text-danger"></span>
                </div>
            </div>
        </div>


    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Submit</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script>
    Ladda.bind('.btn', { timeout: 1000 });
</script>


