@model src.Models.Product

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEditProductTest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="productId" />
            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thumbUrl" class="control-label"></label>
                <input asp-for="thumbUrl" class="form-control" />
                <span asp-validation-for="thumbUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productCategory" class="control-label"></label>
                <select asp-for="productCategory" class="form-control"></select>
                <span asp-validation-for="productCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="organizationId" class="control-label"></label>
                <select asp-for="organizationId" class="form-control" asp-items="ViewBag.organizationId"></select>
                <span asp-validation-for="organizationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateAt" class="control-label"></label>
                <input asp-for="CreateAt" class="form-control" />
                <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

