@model src.Models.Contact
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add / Edit Data</h4>
</div>
<form onsubmit="return SubmitAddEdit(this)">
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="contactId" />
        <input type="hidden" asp-for="customerId" />

        <div class="form-group">
            <label asp-for="contactName" class="control-label"></label>
            <input asp-for="contactName" class="form-control" />
            <span asp-validation-for="contactName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="description" class="control-label"></label>
            <input asp-for="description" class="form-control" />
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    @if (!String.IsNullOrEmpty(Model.email))
                    {
                        <input asp-for="email" class="form-control" readonly="readonly" />

                    }
                    else
                    {
                        <input asp-for="email" class="form-control" />

                    }
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="secondaryEmail" class="control-label"></label>
                    <input asp-for="secondaryEmail" class="form-control" />
                    <span asp-validation-for="secondaryEmail" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="phone" class="control-label"></label>
                    <input asp-for="phone" class="form-control" />
                    <span asp-validation-for="phone" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="website" class="control-label"></label>
                    <input asp-for="website" class="form-control" />
                    <span asp-validation-for="website" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="linkedin" class="control-label"></label>
                    <input asp-for="linkedin" class="form-control" />
                    <span asp-validation-for="linkedin" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Submit</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script>
    Ladda.bind('.btn', { timeout: 1000 });
</script>

