@model src.Models.SupportEngineer
@{
    Layout = null;
}
<h4>SupportEngineer</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form onsubmit="return SubmitAddEdit(this)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="supportEngineerId" />
            <input type="hidden" asp-for="organizationId" />
            <div class="form-group">
                <label asp-for="supportEngineerName" class="control-label"></label>
                <input asp-for="supportEngineerName" class="form-control" />
                <span asp-validation-for="supportEngineerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



