@model src.Models.SupportEngineer
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add / Edit Data</h4>
</div>
<form onsubmit="return SubmitAddEdit(this)">
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="supportEngineerId" />
        <input type="hidden" asp-for="organizationId" />
        <div class="form-group">
            <label asp-for="supportEngineerName" class="control-label"></label>
            <input asp-for="supportEngineerName" class="form-control" />
            <span asp-validation-for="supportEngineerName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            @if (!String.IsNullOrEmpty(Model.Email))
            {
                <input asp-for="Email" class="form-control" readonly="readonly" />

            }
            else
            {
                <input asp-for="Email" class="form-control" />

            }
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Submit</button>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    </div>
</form>

<script>
    Ladda.bind('.btn', { timeout: 1000 });
</script>



