@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_LayoutAdminlteBlank";
}

<div class="login-box-body">
    <p class="login-box-msg">Enter Your Email</p>
    <form asp-action="ForgotPassword" method="post">
        <div class="form-group has-feedback">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-flat">Get My Password</button>
    </form>



</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
