@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}
<div class="register-box-body bg-blue">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>


