@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}
<div class="register-box-body bg-blue">
    <h2>Reset Success</h2>
    <h3>Your password has been reset. Please <a href="@src.MVC.Accounts.Login.FullUrl">click here to log in</a>.</h3>
</div>
